<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:context="http://www.springframework.org/schema/context" 
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd"> 

<!-- Scan the control layer to find all the classes that process the request -->
<context:component-scan base-package="com.atguigu.controller"></context:component-scan>

<!-- Configure the ViewResolver Bean -->
<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceView">
	<property name="prefix" value="/WEB-INF/view"></property>
	<property name="suffix" value=".jsp"></property>
</bean>

</beans> 
