<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
xmlns:mvc="http://www.springframework.org/schema/mvc"  
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
xmlns:context="http://www.springframework.org/schema/context"  
xsi:schemaLocation="http://www.springframework.org/schema/beans  
http://www.springframework.org/schema/beans/spring-beans.xsd  
http://www.springframework.org/schema/context  
http://www.springframework.org/schema/context/spring-context-4.3.xsd  
http://www.springframework.org/schema/mvc  
http://www.springframework.org/schema/mvc/spring-mvc.xsd"> 

<!-- Two things: scan the classpath for annotated components that will be auto-registered;  -->
<!-- configure ViewResolver; configure tomcat default servlet and activate SpringMVC annotation driver. -->

<!-- scan and find the annotated components  -->
<context:component-scan base-package="com.atguigu"></context:component-scan>

<!-- configure ViewResolver -->
<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="prefix" value="/WEB_INF/view/"></property>
	<property name="suffix" value=".jsp"></property>
</bean>

<!-- configure tomcat default servlet processing the request for static resource -->
<mvc:default-servlet-handler />
<!-- activate springmvc annotation driver to define the implementation class of springmvc core interfaces -->
<mvc:annotation-driven />


</beans>